.bg-slider {
  margin: 0;
  padding: 0;
  position: relative;
  z-index: -1000; }
  .bg-slider > * {
    width: 100%;
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transition: all 3s;
    transition: all 3s; }
    .bg-slider > *.slide-active {
      opacity: 1; }
    .bg-slider > *.slide-hidden {
      opacity: 0; }
  .bg-slider #element-1 {
    background-image: url("../img/otus_1920w.jpg");
    background-image: -webkit-image-set(url("../img/otus_1920w.jpg") 1x, url("../img/otus_3840w.jpg") 2x); }
  .bg-slider #element-2 {
    background-image: url("../img/soup_1920w.jpg");
    background-image: -webkit-image-set(url("../img/soup_1920w.jpg") 1x, url("../img/soup_3840w.jpg") 2x); }
  .bg-slider #element-3 {
    background-image: url("../img/zaki_1920w.jpg");
    background-image: -webkit-image-set(url("../img/zaki_1920w.jpg") 1x, url("../img/zaki_3840w.jpg") 2x); }
  .bg-slider li {
    list-style-type: none; }
